doctype html 
html 
    nav#navbar 
        ul
            div.logo
                img(src="/static/dance.png", alt="")  
                | PDA
            li #[a(href="/") Home ]
            li #[a(href="/") Contact ]
            li #[a(href="/") About ]
            li #[a(href="/") Service]
    head 
        block style
        block scripts
    body 
        block contant 
        block foot
