
    html{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight:#212560 ;
    }
#game-Area{
    padding-top: 3rem;
    
}
.imageArea,
.stats{
    min-height: 30vh;
}
.imageArea{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 0 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:3rem;
}
h1 ,h3{
    margin-top: 0;
    font-size: 2.2rem;
}
