<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="icon.png" />
    <title>Guess The Number Game</title>
</head>

<body onload="init()">
       
    <main >
        <div class="logo">
        <div class="logo" id="logo" >
                <img align="right" alt="Coding" width="300" height="300" src="https://media.giphy.com/media/26gs9hWZig4XobSTe/giphy.gif">
         </div>
        <div class="logo" id="logo1" >
            <img align="center" alt="Coding" width="300" height="300" src="https://media.giphy.com/media/oz1Lpq9kZ0gaUuok0C/giphy.gif">
          
        </div>
        <div class="logo" id="logo2" >
            <img align="center" alt="Coding" width="300" height="300" src="https://media.giphy.com/media/xT8qBepJQzUjXpeWU8/giphy.gif">
          
        </div>
    </div>
        <div id="welcome" class="Screen">
            <h2>Guess the random Number <br>between 1-100</h2>
            <section>
                <div>
                enter your name <input  id="username" name="name" type="text" onchange="usern()"></div>
                <p>select difficulty setting:</p>
                <div class="button-wrapper">
                    <button onclick="easyMode()">Easy 10 Attempt</button>
                    
                    <button  class="button2" onclick="hardMode()">Hard 5 Attempt</button>
                </div>
            </section>
        </div>
       
        <div id="gameArea">
            <button id="newGameButton" onclick="newGame()">New Game</button>
            <section>
                <h3 id="textOutput">Your Guess:</h3>
              
                <input type="Number" name="number" id="inputBox" min="1" max="100" onchange="compareGuess()">
            </section>
            <section>
                <p>Current range</p>
                <span id="rangeOutput">1-100</span>
                <div id="range">
                    <span id="low"></span>
                    <span id="space"></span>
                    <span id="high"></span>
                </div>

            </section>
            <section class="stats">
                <div class="info">
                    <p>Number of pervious attempts:</p>
                    <span id="attempts"> </span>
                </div>
                <div class="info">
                    <p>Your pervious Guess:</p>
                    <span id="guesses"> -</span>
                </div>
            </section>
            <button class="button1" onclick="endGame()"><span>Home </span></button>
        </div>
    </main>

    <script src="/static/index.js"></script>
</body>

</html>
